<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>

<div ng-app="myApp">

    <div ng-controller="ClimbersCtrl">
        <input type="text" ng-model="searchText"/>
        <!--<input type="text" ng-model="search.YDS"/>-->
        <!--<input type="text" ng-model="search"/>-->
        <table border="1" style="text-align: center;">
        <thead>
            <th>YDS</th>
            <th>French</th>
            <th>British-Tech</th>
            <th>British-Adj</th>
            <th>UIAA</th>
            <th>Saxon</th>
            <th>Ewbank-AUS/NZL</th>
            <th>Ewbank-South Africa</th>
            <th>Nordic-Finnish</th>
            <th>Nordic-SWE/NOR</th>
            <th>Brazilian</th>
        </thead>
            <tr ng-repeat="ratings in climbers.rating | filter:searchText">
                <!--<tr ng-repeat="ratings in climbers.rating | filter:search">-->
                <!--<tr ng-repeat="ratings in climbers.rating | orderBy : '-YDS' : true">-->
                <!--<tr ng-repeat="ratings in climbers.rating | limitTo:5" > <!-- Can do -5 for last five -->-->
                <!--<tr ng-repeat="ratings in climbers.rating | orderBy: '-YDS' | limitTo:5 | filter:search" >-->
                <td>{{ratings.YDS}}</td>
                <td>{{ratings.French | uppercase}}</td>
                <td>{{ratings.BritishTech}}</td>
                <td>{{ratings.BritishAdj}}</td>
                <td>{{ratings.UIAA}}</td>
                <td>{{ratings.Saxon}}</td>
                <td>{{ratings.EwbankAUSNZL}}</td>
                <td>{{ratings.EwbankSA}}</td>
                <td>{{ratings.NordicFinnish}}</td>
                <td>{{ratings.NordicSWENOR}}</td>
                <td>{{ratings.Brazilian}}</td>
            </tr>
        </table>
    </div>

</div>


</body>
</html>